@font-face {
	font-family: 'RhumbaScript';
	src: url('RhumbaScript.woff2') format('woff2'),
		url('RhumbaScript.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'MONO';
	src: url('ADMONO.woff2') format('woff2'), url('ADMONO.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gasalt';
	src: url('Gasalt-Regular.woff2') format('woff2'),
		url('Gasalt-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body,
html {
	height: 100%;
	font-family: Gasalt, sans-serif;
	overflow: hidden;
	background: rgb(32, 1, 58);
	color: #fff;
}

.canvas {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.rect {
	width: 20px;
	height: 20px;
	background: #1d1d1d;
	transition: 3s ease;
}
.rect:hover {
	transition-duration: 0s;
}

.clock {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 10em;
	transform: translate(-50%, -50%);
	white-space: nowrap;

	touch-action: none;
	pointer-events: none;
	display: flex;
	gap: 3rem;

	text-shadow: 6px -6px 0px rgb(124, 255, 2), -5px 5px 0px rgb(2, 120, 255),
		-2px -4px 0px rgb(255, 251, 2), 4px -6px 0px rgb(175, 2, 255);
}

.clock span {
	text-shadow: none;
	animation: fade 0.5s ease 0s infinite alternate;
	margin-top: -15px;
}

@keyframes fade {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
